/*--- imported from files given to us ---*/

@import url("style.css");

/*--- Variables and Fonts---*/

:root {
  --font-family: 'Source Sans Pro', serif;
  --color-purple: #c271ff; /* Given in the project */
  --color-white: #ffffff;
  --color-dark: #252525;
  --color-grey: #979797;
}

/*--- Base and Fonts ---*/

body {
  font-family: var(--font-family);
}

/*--- Background ---*/

.homepage {
  background-image: url('images/pic_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center-top;
}

.purple {
  color: var(--color-purple);
}

/*--- NavLinks ---*/

li a:hover, li a:focus {
  color: var(--color-purple) !important;
  text-decoration: none;
}

.navbar-toggler {
  font-size: 2.2rem;
  top: 3rem;
}


/*--- Button Stuff ---*/

.btn, .btn:hover, .btn:focus {
  background-color: var(--color-purple);
  border-color: var(--color-purple);
}
.btn:hover, .btn-focus {
  opacity: 0.9;
}
.btn-shadow {
  box-shadow: 0 0 10px 5px rgba(20, 21, 22, 0.813);
}

/*--- Both Carousels ---*/

.purple-bg {
  background-color: var(--color-purple) !important; 
}

.carousel-avatar {
  margin-top: 2rem;
}

.phone {
  display: block;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

.leftArrow:before {
  content: "\e903";
  font-size: 8rem;
  color: white;
}

.rightArrow:before {
  content: "\e902";
  font-size: 8rem;
  color: white;
}

.leftArrowVideo:before {
  content: '\e903';
  font-size: 8rem;
  color: black;
}

.rightArrowVideo:before {
  content: '\e902';
  font-size: 8rem;
  color: black;
}

.pl-6 {
  padding-left: 3.5rem;
  padding-right: 3rem;
}

.mins {
  padding-left: 5rem;
}

.videoLeft {
  top: 8.5rem;
  padding-right: 1rem;
  padding-left: auto;
}

.videoRight {
  top: 8.5rem;
  padding-left: 1rem;
  padding-right: auto;
}

.search {
  color: white;
  font-size: 1.75rem;
  opacity: .8;
}

::placeholder {
  color: lightgrey;
  font-size: 1.75rem;
  opacity: .6;
}

.play {
  height: 125px;
  width: 125px;
}

.card-img-overlay {
  width: 5rem;
  height: 5rem;
}
